:root {
    --max-width: 1601px;

    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  color: currentColor;
}

body {
    margin:0; padding: 0;
    background-color: white; /* Couleur de fond par défaut. RGAA 10.5 */
    color: #666666;
    display: grid;
    grid-template-columns:  100%;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    font-family: monospace;
    gap: 32px 16px;
}

a:hover,
a:focus-visible,
a:active {
    color: #555555;
}

button {
    font-size: inherit;
    font-family: inherit;
    border-width: 0;
    background: none;
}

button:not(:disabled, [aria-disabled]) {
    cursor: pointer;
}

header, footer {
    min-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

.header-wrapper,
.footer-wrapper {
    width: 100vw;
    position: sticky;
    left: 0;
    top: 0;
}

#container {
    width: 1572px; margin: 0 auto;
}

.header-wrapper {
    font-size: 16px;
}

.header-wrapper h1, .header-wrapper h2 {
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    font-size: inherit;
    margin: 0;
}

.header-wrapper h1 {
    margin: 16px 0 8px;
}

.header-wrapper .day {
    display: flex;
    gap: 4px 8px;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
}

.header-wrapper .today {
    font-weight: bold;
}

.header-wrapper .day a {
    text-decoration: none;
    color: #000;
}

.header-wrapper .day a:not([href]) {
    opacity: 0.2
}

.header-wrapper h2 {
    order: 2;
}

.header-wrapper .day a:first-of-type {
    order: 1;
}

.header-wrapper .day a:last-of-type {
    order: 3;
}

.header-wrapper nav {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    gap: 8px 16px;
    flex-wrap: wrap;
}

.header-wrapper nav a {
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-wrapper nav a:hover span,
.header-wrapper nav a:focus-visible span,
.header-wrapper nav a:active span {
    text-decoration: underline;
}

.header-wrapper nav [aria-current=page] {
    font-weight: bold;
}

.header-wrapper aside {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: var(--max-width);
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 34px;
    margin-top: -3px;
    font-size: 16px;
}

.header-wrapper aside button {
    pointer-events: auto;
    width: 32px;
}

#lien_infos span{
    padding: 0;
    display: inline-block;
    text-decoration: none;
    border-radius: 99px;
    border: 1px solid #666666;
    width: 20px;
    height: 20px;
    text-align: center;
}
#lien_infos:hover span {
    border-color: #444444;
}

.i:hover {
    background-color: #000 !important;
}

.no {
    --color: #e2e2e2;
    --current-color: #999;
}

.bq {
    --color: #f44646;
    --current-color: #a00;
}

.pb {
    --color: #ffb225;
    --current-color: #d47006;
}

.tx {
    --color: #aeaeae;
    --current-color: #666;
}

.ok {
    --color: #c0e39d;
    --current-color: #65b613;
}

[role=contentinfo] {
    font-size: 14px;
    text-align: center;
}

.footer-wrapper {
    padding: 0 40px;
}

dialog {
    width: 100%;
    max-width: 700px;
}

dialog h1 {
    font-size: 16px;
    margin: 0.5em 0 1.5em;
}

dialog .dialog-close {
    padding: 0;
    position: absolute;
    right: 14px;
    text-decoration: underline;
    text-transform: uppercase;
    top: 14px;
}

#tooltipModal {
    max-width: 500px;
}

#tooltipModal p:empty {
    display: none;
}

/* Classes utilitaires */
/* Masquer un élément visuellement ; reste perceptible par les lecteurs d'écran */
.visually-hidden {
    overflow: hidden !important;
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
}

table {
    --table-spacing-inline: 40px;

    color: #666666;
    border-collapse: collapse;
    width: var(--max-width);
    margin: auto;
    flex: 0 0 auto;
}

table caption {
    font-size: 14px;
    text-align: center;
    caption-side: bottom;
    max-width: 100vw;
    margin-top: 5px;
    padding: 0 var(--table-spacing-inline);
    position: sticky;
    left: 0;
}
table caption ul {
    margin: 0;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px 20px;
}

ul.legend {
    padding: 0;
}

ul.legend ::marker {
    font-size: 0;
}

ul.legend li {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    text-align: left;
}

ul.legend li::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: var(--color);
    margin-top: 2px;
}

table th {
    text-align: left;
    padding: 0;
}

table thead th {
    font-size: 12px;
    font-weight: normal;
    width: 2px;
    height: 16px;
    position: relative;
}

table thead th:nth-child(5n + 2) {
    width: 3px;
}

table thead .hour span {
    position: absolute;
    transform: translateX(-1ch);
    top: 0;
}

table thead th:not(.hour) span {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

table tbody {
    --color: #f2f2f2;
    --gap: 8px;

    border-top: var(--gap) solid transparent;
}

table tbody th {
    width: var(--table-spacing-inline);
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
}

table tbody img {
    display: block;
    margin:0 auto var(--gap);
}

table tbody tr {
    position: relative;
}

table thead th:last-child {
    padding-right: var(--table-spacing-inline);
}

table tbody td {
    position: relative;
}

table tbody td:not(:last-child):hover {
    --hover-color: color-mix(in srgb, var(--color), black 10%);

    cursor: pointer;
}

table tbody td::before {
    --bg-color: var(--hover-color, var(--color));
    --tonedBar: color-mix(in srgb, var(--bg-color), white 40%);

    content: '';
    position: absolute;
    width: calc(100% - var(--cell-offset, 0px));
    inset: 0;
    height: calc(100% - var(--gap));
    background-image: linear-gradient(90deg,
        white 0px, white 1px,var(--bg-color) 1px, var(--bg-color) 11px,
        var(--tonedBar) 11px, var(--tonedBar) 12px,var(--bg-color) 12px, var(--bg-color) 22px,
        var(--tonedBar) 22px, var(--tonedBar) 23px,var(--bg-color) 23px, var(--bg-color) 33px,
        var(--tonedBar) 33px, var(--tonedBar) 34px,var(--bg-color) 34px, var(--bg-color) 44px,
        var(--tonedBar) 44px, var(--tonedBar) 45px,var(--bg-color) 45px, var(--bg-color) 55px,
        var(--tonedBar) 55px, var(--tonedBar) 56px,var(--bg-color) 56px, var(--bg-color) 66px
        );
    background-size: 66px auto;
    background-repeat: repeat;
    background-position-x: calc(var(--time-offset, 0) * -1px);
}

table tbody td:last-child {
    --cell-offset: calc( var(--table-spacing-inline) + 3px);
}

table tbody td:has(+ .no:last-child)::after {
    position: absolute;
    right: 0;
    width: 2px;
    height: calc(100% - var(--gap));
    content: '';
    background-color: var(--current-color);
    top: 0;
}

table tbody div,
table tbody time {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
